@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    color: #677;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    color: rgb(99, 58, 5);
}

header{
    width: 100%;
}

header img{
    width: 200px;
    display: block;
    margin: 30px auto;
}

.nav-principal ul{

    margin: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: blueviolet; 
    text-align: center;    
}

.nav-principal ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 1em;
    display: block;
}
.nav-principal ul li a:hover{
    background-color: rgb(137, 75, 196); 
}

.left{
    color: white;    
    text-align: center;
    font-size: 20px;    
    position: fixed;
    left: 0;
    top: calc(50% - 50px);
}

.left a{
    display: flex;
    justify-content: center;
}

.left .face{
    background-color: rgb(96, 96, 230);    
    width: 10px;
}

.left .inst{
    background-color: rgb(233, 83, 233);
    width: 10px;
}

.left .face, .left .inst{
    padding: 15px 10px;
}

.right-bottom{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}

.right-bottom .what, .message, .phone{
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.right-bottom .what{
    background-color: rgb(49, 173, 49);        
}
.message{
    background-color: rgb(124, 124, 228);
}

.phone{
    background-color: rgb(228, 66, 66);
}

.galeria{
    margin: 10px auto;
    width: 90%;
    height: 300px;
    background: url(../imagens/download.jpg);
    background-size: cover;
    animation: galery 5s infinite;
    -webkit-animation: galery 5s infinite;
}

@keyframes galery{
    0%{
        background: url(../imagens/download.jpg);
        background-size: cover;
    }
    50%{
        background: url(../imagens/image.jpg);
        background-size: cover;
    }
    100%{
        background: url(../imagens/mecanicasenai.jpg);
        background-size: 100%;
    }
}

main{
    width: 90%;
    margin: 0 auto;
}
.section-infor{
    margin: 0 auto;
}

.section-infor article:nth-of-type(2){
    max-width: 100%;
    color: white;
    background-color: rgb(99, 58, 5);
    padding: 10px 10px 30px;
}

.btn-saiba{
    color: rgb(99, 58, 5);
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: bold;
    box-shadow: 0px 3px 0 rgb(99, 58, 5);    
}

.article-sobre .article-sobre1{
    background: url(../imagens/carros-femininos.jpg);
    background-size: cover;
    height: 300px;
}
.article-sobre .article-sobre2{
    background: url(../imagens/image.jpg);
    background-size: cover;
    height: 300px;
}

.article-sobre .article-sobre3{
    background: url(../imagens/mulher-mecanica.jpg);
    background-size: cover;
    height: 300px;
}
.article-sobre div h2{
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
}

.article-sobre img{
    max-width: 100%;
    display: block;
}

footer{
    background-color: rgb(99, 58, 5);
    height: 400px;
    padding: 50px 30px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 100px;
}

footer .campos-texto{
    width: 81%;
    margin: 0 auto;
}


.campos-texto .fa-user{
    padding: 10px 13px; 
}
input{
    height: 30px;
    width: 82.5%;
    margin: -1px;
}

input[type="submit"]{
    background-color: rgb(73, 44, 7);
    color: white;
    margin: 10px 0 0;
}

footer h2{    
    color: white;
    text-align: center;
}

footer .face, footer .inst{
    padding: 10px;
    color: white;
    display: inline-block;
    margin: 10px 0 -5px;
}

footer .face{
    background-color: rgb(96, 96, 230);    
    
}

footer .inst{
    background-color: rgb(233, 83, 233);
}

@media screen and (min-width: 421px){
    .left a{
        width: 180px;
    }
    .left .face{
        background-color: rgb(96, 96, 230);    
        width: 20px;
    }
    
    .left .inst{
        background-color: rgb(233, 83, 233);
        width: 20px;
    }
    
}

@media screen and (min-width: 768px){
    .nav-principal ul li{
        display: inline-block;
        font-size: 13.5px
    }

    .section-infor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

    }

    .section-sobre{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    input{
        width: 40%;
    }
}

